<h3>ICU Capacity is Strained, But Without a Clear Geographic Pattern</h3>
  <!-- <p>Many-- but not all-- major Manhattan hospitals are experiencing bed shortages. Capacity is limited everywhere in Brooklyn, however.</p> -->
</p>
<div id="chart-a">
</div>
<p><i>Source: <a href=https://healthdata.gov/Hospital/COVID-19-Reported-Patient-Impact-and-Hospital-Capa/anag-cw7u>HealthData.gov</a></i></p>

<script src="scripts/nyc_icu/a-map.js"></script>
